<button (click)="cardClicked.emit()" [ngClass]="isSelected() ? 'selected' : ''" class="card">
  <div class="card-inner">
    <div class="row card-no">
      @for (number of cardNumberSplit(); track $index; ) {
        <p>{{ number }}</p>
      }
    </div>
    <div class="row bottom">
      <div class="holder-container">
        <p class="holder-label">Intestatario</p>
        <p class="holder">{{ authService.user()?.firstName }} {{ authService.user()?.lastName }}</p>
      </div>
      <div class="expiration-container">
        <p class="expiration-label">Validità</p>
        <p class="expiration">{{ card().expirationDate | date: 'MM / YY' }}</p>
      </div>
    </div>
  </div>
  <div class="description-label">
    {{ card().description }}
  </div>
</button>
