<div class="container">
  <div class="first-line">
    <aef-input-label inputId="beneficiary" label="Beneficiario">
      <p-inputgroup>
        <input id="beneficiary" pInputText />
        <p-inputgroup-addon>
          <p-button icon="pi pi-address-book" severity="secondary" variant="text" />
        </p-inputgroup-addon>
      </p-inputgroup>
    </aef-input-label>
  </div>
  <div class="second-line">
    <div class="iban-container">
      <aef-input-label inputId="iban" label="IBAN">
        <input id="iban" pInputText />
      </aef-input-label>
    </div>
    <div class="amount-container">
      <aef-input-label inputId="amount" label="Importo">
        <p-inputNumber currency="EUR" inputId="amount" locale="it-IT" mode="currency"></p-inputNumber>
      </aef-input-label>
    </div>
  </div>
  <div class="third-line">
    <aef-input-label inputId="description" label="Causale">
      <textarea id="description" pTextarea rows="2"></textarea>
    </aef-input-label>
  </div>
  <div class="button-container">
    <p-button severity="primary">Continua</p-button>
  </div>

</div>
