<p-dialog [(visible)]="dialogVisible" [header]="headerText()" [modal]="true"
          [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">{{ bodyText() }}</span>
  <div class="flex justify-end gap-2">
    <p-button (onClick)="secondaryButtonClicked.emit()" [attr.data-testid]="'btn-secondary'"
              [label]="secondaryButtonText()"
              severity="secondary" />
    <p-button (onClick)="primaryButtonClicked.emit()" [attr.data-testid]="'btn-primary'"
              [label]="primaryButtonText()" />
  </div>
</p-dialog>
