<form (ngSubmit)="onSubmit()" [formGroup]="internalTransferForm">
  <div class="container">
    <div class="first-line">
      <aef-bank-account-select [formControlName]="'originBankAccount'"
                               label="Seleziona il conto corrente di origine"
                               selectId="originBankAccount" />
      <aef-bank-account-select [formControlName]="'destinationBankAccount'"
                               label="Seleziona il conto corrente di destinazione"
                               selectId="destinationBankAccount" />
    </div>
    <div class="second-line">
      <div class="description-container">
        <aef-input-label inputId="description" label="Causale">
          <textarea formControlName="description" id="description" pTextarea rows="2"></textarea>
        </aef-input-label>
      </div>
      <div class="amount-container">
        <aef-input-label inputId="amount" label="Importo">
          <p-inputNumber currency="EUR" formControlName="amount" inputId="amount" locale="it-IT"
                         mode="currency"></p-inputNumber>
        </aef-input-label>
      </div>
    </div>
    @if (internalTransferForm.hasError('equalBankAccounts') && internalTransferForm.touched) {
      <div class="bank-transfer-error">
        Il conto corrente di origine e quello di destinazione non possono essere uguali.
      </div>
    }
    <div class="button-container">
      <p-button [attr.data-testid]="'btn-submit-internal-transfer'" [disabled]="!internalTransferForm.valid"
                severity="primary" type="submit">Inserisci giroconto
      </p-button>
    </div>
  </div>
</form>

<aef-success-dialog (primaryButtonClicked)="newOperation()"
                    (secondaryButtonClicked)="goToOperationList()"
                    [(dialogVisible)]="successDialogVisible"
                    bodyText="Vuoi inserire un nuovo giroconto o tornare alla schermata dell'elenco delle operazioni?"
                    headerText="Giroconto inserito con successo!"
                    primaryButtonText="Nuovo giroconto"
                    secondaryButtonText="Lista delle operazioni"
/>


