<form (ngSubmit)="onSubmit()" [formGroup]="internalTransferForm">
  <div class="container">
    <div class="first-line">
      <aef-bank-account-select [formControlName]="'originBankAccount'"
                               inputId="originBankAccount"
                               label="Seleziona il conto corrente di origine" />
      <aef-bank-account-select [formControlName]="'destinationBankAccount'"
                               inputId="destinationBankAccount"
                               label="Seleziona il conto corrente di destinazione" />
    </div>
    <div class="second-line">
      <div class="description-container">
        <aef-input-label inputId="description" label="Causale">
          <textarea formControlName="description" id="description" pTextarea rows="2"></textarea>
        </aef-input-label>
      </div>
      <div class="amount-container">
        <aef-input-label inputId="amount" label="Importo">
          <p-inputNumber currency="EUR" formControlName="amount" inputId="amount" locale="it-IT"
                         mode="currency"></p-inputNumber>
        </aef-input-label>
      </div>
    </div>
    <div class="button-container">
      <p-button [disabled]="!internalTransferForm.valid" severity="primary" type="submit">Inserisci giroconto</p-button>
    </div>
  </div>
</form>

<aef-success-dialog (newOperationClicked)="newOperation()"
                    [(dialogVisible)]="successDialogVisible"
                    bodyText="Vuoi inserire un nuovo giroconto o tornare alla schermata dell'elenco delle operazioni?"
                    headerText="Giroconto inserito con successo!"
                    primaryButtonText="Nuovo giroconto"
/>


