<p-dialog [(visible)]="dialogVisible" [header]="'Cambio password'" [modal]="true"
          [style]="{ width: '25rem' }">
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
    <div class="container">
      <aef-input-label inputId="oldPassword" label="Vecchia password">
        <p-password [feedback]="false"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{  width: '100%'}"
                    [toggleMask]="true"
                    formControlName="oldPassword" id="oldPassword" />
      </aef-input-label>
      <aef-input-label inputId="newPassword" label="Nuova password">
        <p-password [feedback]="false"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{  width: '100%'}"
                    [toggleMask]="true"
                    formControlName="newPassword" id="newPassword" />
      </aef-input-label>
      <aef-input-label inputId="confirmPassword" label="Conferma nuova password">
        <p-password [feedback]="false"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{  width: '100%'}"
                    [toggleMask]="true"
                    formControlName="confirmPassword" id="confirmPassword" />
      </aef-input-label>
      @if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.touched) {
        <div class="password-error">
          Le password non coincidono.
        </div>
      }
      <p-button [attr.data-testid]="'btn-submit-change-password'" [disabled]="!changePasswordForm.valid"
                severity="primary"
                type="submit">Cambia password
      </p-button>
    </div>
  </form>
</p-dialog>
