<p-button (onClick)="menu.toggle($event)" [attr.data-testid]="'btn-topbar-menu'" [rounded]="true" icon="pi pi-user"
          severity="info" size="large" />
<p-menu #menu [appendTo]="'body'" [model]="items" [popup]="true">
  <ng-template pTemplate="start">
    <div class="user-container">
      <p-avatar [label]="getUserLabel()"
                shape="circle" />
      <div class="user-text">
        <span class="font-bold">{{ authService.user()?.firstName }}</span>
        <span class="text-sm">{{ authService.user()?.lastName }}</span>
      </div>
    </div>
  </ng-template>
</p-menu>
