.aef-container {
  background: var(--aef-neutral-light5);
  display: flex;
  height: 100vh;
}

.aef-content-container {
  background: var(--aef-neutral-light5);
  height: 100%;
  margin: 16px;
  overflow-y: scroll;
  width: 100%;
}

.aef-sidebar-container {
  margin: 16px;
  background: var(--aef-basic-white);
  border-radius: var(--aef-border-radius-extra-large);
  width: 400px;
}
