<div class="container">
  <aef-bank-accounts-slider (bankAccountSelectedChange)="changeBankAccountSelected($event)" />

  <div class="card-title-container">
    <h2 class="title">Carte collegate al conto</h2>
    <i class="pi pi-info-circle" pTooltip="Clicca su una carta per filtrare le operazioni"></i>

  </div>
  <div class="cards-container">
    @for (card of cards(); track card.id) {
      <aef-card [card]="card" [isSelected]="isCardSelected(card)" (cardClicked)="cardSelectedChange(card)" />
    }
  </div>

  <h2 class="title">Le tue transazioni</h2>
  <div class="transactions-container">
    <aef-transactions [transactions]="transactions()" />
  </div>
</div>
