<div class="login-body">

  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="login-container">
      <div class="logo">
        <img alt="Logo" src="images/AEF_no_bg.png" />
      </div>
      <div class="input-container">
        <aef-input-label inputId="username" label="Username">
          <input [pAutoFocus]="true" formControlName="username" id="username" pInputText />
        </aef-input-label>
      </div>
      <div class="input-container">
        <aef-input-label inputId="password" label="Password">
          <p-password [feedback]="false" [inputStyle]="{outline: 'none', border: 'none', width: '100%'}"
                      [style]="{  width: '100%'}"
                      [toggleMask]="true"
                      formControlName="password" id="password" />
        </aef-input-label>
      </div>
      <div class="button-container">
        <p-button [disabled]="!loginForm.valid" severity="info" size="large" type="submit">
          Login
        </p-button>
      </div>
    </div>
  </form>
</div>
