<p-tabs [value]="0">
  <p-tablist>
    @for (operation of operationsAvailable(); track operation; let i = $index) {
      @if (operation.active) {
        <p-tab [value]="i">{{ operation.name }}</p-tab>
      }
    }
  </p-tablist>
  <p-tabpanels>
    @for (operation of operationsAvailable(); track operation; let i = $index) {
      @if (operation.active) {
        <p-tabpanel [value]="i">
          <ng-container
            *ngComponentOutlet="operation.component"></ng-container>
        </p-tabpanel>
      }
    }
  </p-tabpanels>
</p-tabs>

