.transaction-container {
  border: 1px solid var(--aef-accent-light2);
  border-radius: var(--aef-border-radius-medium);
  padding: 8px
}

.transaction-description {
  font-size: 18px;
  font-weight: bold;
}

.transaction-detail {
  display: flex;
  justify-content: space-between;
}
