.topbar-item-container {
  align-items: center;
  border-radius: var(--aef-border-radius-small);
  display: flex;
  font-size: 18px;
  gap: 8px;
  padding: 8px;

  &.is-active {
    font-weight: bolder;
  }

  &:hover {
    background-color: var(--aef-accent-light4);
    cursor: pointer;
  }
}

.topbar-item {
  padding: 16px;
}
