.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.topbar-left,
.topbar-right,
.topbar-center {
  flex: 1;
  display: flex;
  align-items: center;
}

.topbar-center {
  justify-content: center;
}

.topbar-right {
  justify-content: flex-end;
}

.topbar-items-container {
  display: flex;
  gap: 8px;
}

.logo img {
  height: 60px;
}

.user-container {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 12px;
}

.user-text {
  display: flex;
  gap: 2px;
}
