<div class="wrapper">
  <div class="container">
    <div class="account-name-container">
      <div class="account-name-label">{{ account().name }}</div>
    </div>
    <div class="details-container">
      <div class="iban-container">
        <div class="iban-label">IBAN</div>
        <div class="iban">{{ account().iban }}</div>
      </div>
      <div class="balance-container">
        <div class="balance-label">Bilancio</div>
        <div class="balance">{{ account().balance | currency: 'EUR' }}</div>
      </div>
    </div>
  </div>
</div>
