<div class="container">
  <div class="card">
    <div class="card-inner">
      <div class="front">
        <div class="row">
          <img alt="Aether fintech logo" src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
        </div>
        <div class="row card-no">
          @for (number of cardNumberSplit(); track $index; ) {
            <p>{{ number }}</p>
          }
        </div>
        <div class="row card-holder">
          <p>Intestatario</p>
          <p>Validità</p>
        </div>
        <div class="row name">
          <p>{{ userService.user().firstName }} {{ userService.user().lastName }}</p>
          <p>{{ card().expirationDate | date: 'MM / YY' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
