<p-table [groupRowsByOrder]="0" [scrollable]="true" [value]="transactionComputed()" groupRowsBy="yearMonth"
         rowGroupMode="subheader">
  <ng-template pTemplate="header">
    <tr>
      <th [style]="{width: '10%'}" id="transaction-date">Data</th>
      <th id="transaction-description">Descrizione</th>
      <th id="transaction-amount">Importo</th>
    </tr>
  </ng-template>
  <ng-template let-rowData pTemplate="body">
    <tr>
      <td>{{ rowData.date | date: 'dd MMMM' }}</td>
      <td>{{ rowData.description }}</td>
      <td
        [ngClass]="rowData.type === 'income' ? 'income' : 'expense'">{{ correctAmount(rowData.amount, rowData.type) | currency: 'EUR' }}
      </td>
    </tr>
  </ng-template>
  <ng-template let-transaction pTemplate="groupheader">
    <tr class="row-group" pRowGroupHeader>
      <td colspan="2">
        <b>{{ transaction.yearMonthLabel }}</b>
      </td>
      <td class="totals">
        <div class="income">
          + {{ totalIncomeByYearMonth(transaction.yearMonth) | currency: 'EUR' }}
        </div>
        <div class="expense">
          - {{ totalExpenseByYearMonth(transaction.yearMonth) | currency: 'EUR' }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

