.sidebar-item-container {
  align-items: center;
  border-radius: var(--aef-border-radius-small);
  display: flex;
  font-size: 22px;
  gap: 8px;
  margin: 8px 0;
  padding: 8px;

  &.is-active {
    font-weight: bolder;
  }

  &:hover {
    background-color: var(--aef-accent-light4);
    cursor: pointer;
  }
}

.sidebar-item {
  padding: 16px;
}
