<aef-input-label [inputId]="selectId()" [label]="label()">
  <p-select
    (onChange)="onSelectChange($event.value)"
    [disabled]="disabled"
    [id]="selectId()"
    [ngModel]="value"
    [optionLabel]="'name'"
    [options]="bankAccountService.userBankAccounts()">

    <ng-template let-bankAccount pTemplate="item">
      <div [id]="`${selectId()}-option-${bankAccount.id}`" class="bank-account-option-container">
        <div class="bank-account-text">{{ bankAccount.name }}</div>
        <div class="bank-account-balance">Disponibilità: {{ bankAccount.balance | currency: 'EUR' }}</div>
      </div>
    </ng-template>

  </p-select>
</aef-input-label>
